.movie-container {
    background-color: rgb(19, 19, 19);
    background-size: contain;
    color: white;
    margin: auto;
    display: flex;
    min-height: 694px;
    flex-direction: column;
    
}
.movie-items {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.list-m {
    text-align: center;
    margin: 100px 0 50px;
    color:rgb(252, 67, 67);
    
}
.big-show:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .20s;
}
.add-items {
    margin: 30px 500px;
}
.Home-container {
    background-color: rgb(19, 19, 19);
    background-image: url(https://i.pinimg.com/originals/46/13/5f/46135f17d26bbcd24eb8efe9d43fbb2f.gif);
    background-size: cover;
    color: rgba(68, 68, 68, 0.705);
    text-align: center;
    text-decoration:dotted;   
    min-height: 610px;
    padding-top: 20%;

    
}
.continue-home {
    font-size: 100px;
    font-weight: bolder;
}
.footer {
    text-align: center;
    color: gray;
    background-color: rgb(19, 19, 19);
     background-size: cover;
    
    padding: 50px 0px 5px;
}
.link{
    color: grey;
}
.Error-page {
    text-align: center;
    padding-top: 20%;
}
.Watch-container {
    background-color: rgb(19, 19, 19);
    background-image: url(https://i.pinimg.com/originals/33/50/88/3350885f41f35cbb60a538dec310a4c2.gif);
}
.Watch-movie {
    min-height: 680px;
    width: 300px;
    padding-top: 150px;
    text-align: center;
    color: white;
    padding-left: 13%;
}